<ul>

    <% @bookmarks.each do |bookmark| %>
     <li> <%=  bookmark %></li>
    <% end %>    
</ul>
<br>
<form action='/new' method='GET'>
<input type='submit' name='Add Bookmark' value='Add Bookmark'> 
</form>
